#main{
	text-align: left;
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 25%;
}

#logged_out_nav img{
	height: 100%;
}

#signup_password{
	display: none;
}

#signup_verify_password{
	display: none;
}

#verify_icon_image{
	display: none;
}

#icon_description{
	display: none;
}

#signup_submit{
	display: none;
}
