<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/custom.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/signup.js"></script>
	<title>League Pyramid</title>
</head>
<body>
	<nav id="logged_out_nav" class="navbar navbar-default">
		<a href="/"><img id="home_image" src="img/pyramid.png"></a>
		<a class="pull-right" href="/signup">Signup</a>
		<a class="pull-right" href="/login">Login|</a>		
	</nav>
