<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/custom.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<title>Smoothjazz</title>
</head>
<body style="background-color: grey">
	<div class="container">	
		<div class="page-header">
			<div class="row">
				<div class="col-sm-2">
					<a href="/lol"><img src="/img/lol.png"</a>
				</div>
				<div class="col-sm-2">
					<a href="/wow"><img src="/img/wow.jpg"></a>
				</div>
				<div class="col-sm-2">
					<a href="/dota2"><img src="/img/dota2.jpg"></a>
				</div>
				<div class="col-sm-2">
					<a href="/hearthstone"><img src="/img/hearthstone.jpg"></a>
				</div>
				<div class="col-sm-2">
					<a href="/starcraft2"><img src="/img/starcraft2.jpg"></a>
				</div>
				<div class="col-sm-2">
					<a href="/diablo3"><img src="img/diablo3.jpg"></a>
				</div>
			</div>
		</div>
		<div class="row">			
			<div class="col-lg-2" style="background-color: red">
				<ul style="background-color: orange">
					<li class="text-center">Recent Articles</li>
					<br>
					<li class="text-center">PLACEHOLDER ARTICLE</li>
					<br>
					<li class="text-center">PLACEHOLDER ARTICLE</li>
					<br>
					<li class="text-center">PLACEHOLDER ARTICLE</li>
					<br>
					<li class="text-center">PLACEHOLDER ARTICLE</li>
					<br>
					<li class="text-center">PLACEHOLDER ARTICLE</li>										
				</ul>
				<ul style="background-color: green">
					<li class="text-center">Recent Videos</li>
					<br>
					<li class="text-center">PLACEHOLDER VIDEO</li>
					<br>
					<li class="text-center">PLACEHOLDER VIDEO</li>		
					<br>
					<li class="text-center">PLACEHOLDER VIDEO</li>		
					<br>
					<li class="text-center">PLACEHOLDER VIDEO</li>		
					<br>
					<li class="text-center">PLACEHOLDER VIDEO</li>																								
				</ul>
			</div>
			<div class="col-lg-8" style="background-color: blue">
				<ul>
					<li class="text-center">SMOOTHJAZZ</li>
				</ul>
				<div class="row text-center" id="stream-container">
					<object type="application/x-shockwave-flash" height="378" width="620" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=tedboosley" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=tedboosley&auto_play=true&start_volume=25" /></object>
					<a href="http://www.twitch.tv/tedboosley" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline; text-align:center;">Watch live video from TedBoosley on www.twitch.tv</a>
				</div>
				<br><br>
				<div class="row text-center">
					RECENT NEWS
				</div>
				<br>
				<div class="row">
					PLACEHOLDER NEWS ARTICLE
				</div>
				<br>
				<div class="row">
					PLACEHOLDER NEWS ARTICLE
				</div>
				<br>
				<div class="row">
					PLACEHOLDER NEWS ARTICLE
				</div>	
				<br>
				<div class="row">
					PLACEHOLDER NEWS ARTICLE
				</div>	
				<br>
				<div class="row">
					PLACEHOLDER NEWS ARTICLE
				</div>
			</div>
			<div class="col-lg-2" style="background-color: red">
				<ul>
					<li class="text-center">Streams</li>
					<br>
					<li class="text-center">PLACEHOLDER STREAM</li>
					<br>
					<li class="text-center">PLACEHOLDER STREAM</li>
					<br>
					<li class="text-center">PLACEHOLDER STREAM</li>
					<br>
					<li class="text-center">PLACEHOLDER STREAM</li>
					<br>
					<li class="text-center">PLACEHOLDER STREAM</li>																				
				</ul>
			</div>						
		</div>
	</div>
</body>
</html>