	<form method="post" action="/signup">
		<input name="username" type="text" placeholder="Summoner Name"> Enter League of Legends Summoner Name
		<br>
		<input name="password" type="password" placeholder="Password"> Enter Password | {{password_error}}
		<br>
		<input name="verify" type="password" placeholder="Verify Password"> Verify Password | {{verify_error}}
		<br>
		<select name="region">
			<option>NA</option>
			<option>EUW</option>
			<option>EUNE</option>
			<option>LAN</option>
			<option>LAS</option>
			<option>OCE</option>
		</select> Select Region
		<br>
		<input type="submit">
	</form>
	<pre>
		{{json}}
	</pre>
</body>
</html>