	<form method="post" action="/signup">
		<input name="username" type="text" placeholder="Summoner Name"> Enter League of Legends Summoner Name
		<br>
		<input name="password" type="password" placeholder="Password"> Enter Password
		<br>
		<input name="verify" type="password" placeholder="Verify Password"> Verify Password
		<br>
		<input type="submit">
		<select name="region">
			<option>NA</option>
			<option>EUW</option>
			<option>EUNE</option>
			<option>LAN</option>
			<option>LAS</option>
			<option>OCE</option>
		</select> Select Region
	</form>
</body>
</html>