	<img src="/img/icons/{{verify_icon}}.png"> Change Summoner Icon to one shown, enter password, and click submit.
	<br>	
	<form method="post" action="/verify_summoner/confirm">
		<input name="username" type="hidden" value="{{username}}">
		<input name="region" type="hidden" value="{{region}}">
		<input name="password" type="password">Password{{password_error}}
		<br>
		<input name="verify" type="password">Confirm Password{{verify_error}}
		<br>
		<input type="submit">
	</form>
	{{verification_error}}
</body>
</html>